.feedback-message {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.feedback-message h1 {
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.feedback-message textarea {
    height: 200px;
}

.feedback-message input[type="text"],
.feedback-message input[type="date"],
.feedback-message input[type="datetime"],
.feedback-message input[type="email"],
.feedback-message input[type="number"],
.feedback-message input[type="search"],
.feedback-message input[type="time"],
.feedback-message input[type="url"],
.feedback-message textarea,
.feedback-message select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.feedback-message input[type="text"]:focus,
.feedback-message input[type="date"]:focus,
.feedback-message input[type="datetime"]:focus,
.feedback-message input[type="email"]:focus,
.feedback-message input[type="number"]:focus,
.feedback-message input[type="search"]:focus,
.feedback-message input[type="time"]:focus,
.feedback-message input[type="url"]:focus,
.feedback-message textarea:focus,
.feedback-message select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.feedback-message input[type="submit"],
.feedback-message input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.feedback-message input[type="submit"]:hover,
.feedback-message input[type="button"]:hover{
    background: #2EBC99;
}

/* messages styles */

.panel-heading h4 {
    margin: 0;
    padding: 0;
}

.panel-title-name {
    float: left;
}

.panel-title-date {
    float: right;
}

.panel-body {
    position: relative;
    padding-top: 30px;
}

.panel-body .glyphicon-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ff4d54;
    font-size: 20px;
}

.panel-body .glyphicon-ok {
    position: absolute;
    top: 5px;
    right: 35px;
    color: #419641;
    font-size: 20px;
}

.slider_item_avatar ,
.slider_item_name,
.slider_item_message {
    text-align: center;
    margin-bottom: 20px;
}

.slider_item_avatar img {
    display: inline-block;
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

.messages_activated,
.activate_messages {
    text-align: center;
    padding-bottom: 15px;
}

.activate_messages .glyphicon-floppy-saved {
    color: #00a564;
    margin-right: 30px;
}

.activate_messages .glyphicon-trash {
    color: #9d3300;
}

.activate_messages .glyphicon-floppy-saved,
.activate_messages .glyphicon-trash {
    font-size: 35px;
    cursor: pointer;
}